body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  transition: background-color 0.3s, color 0.3s;
  overflow-x: hidden;
  background-color: #f7fef9;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='120' height='120' viewBox='0 0 120 120'%3E%3Cdefs%3E%3Cstyle%3E.b %7Bstroke-miterlimit: 10;%7D.b, .c %7Bfill: none;stroke: %23000;%7D.c %7Bstroke-linecap: round;stroke-linejoin: round;%7D.d %7Bopacity: .1;%7D%3C/style%3E%3C/defs%3E%3Cg class='d'%3E%3Cpolygon class='c' points='71.547 40 48.453 40 36.906 60 48.453 80 71.547 80 83.094 60 71.547 40'/%3E%3Cpath class='b' d='m60,120v-40l-11.547-20,11.547-20V0'/%3E%3Cline class='b' y1='60' x2='48.953' y2='60'/%3E%3Cline class='b' x1='71.547' y1='40' x2='71.547' y2='80'/%3E%3Cline class='b' x1='120' y1='60' x2='83.094' y2='60'/%3E%3C/g%3E%3C/svg%3E");
}

.dark-mode {
  background-color: #121914;
  color: #ffffff;
}

a {
  text-decoration: none;
  color: inherit;
}

#sidebar ul {
  padding: 0 40px;
}

#sidebar li {
  list-style: none;
  text-align: center;
  padding: 13px 5px;
}

#sidebar {
  width: 160px;
  background: #f1f9f3;
  position: fixed;
  height: 100%;
  padding: 20px;
  box-shadow: 2px 0 5px rgba(0, 7, 2, 0.1);
  transition: background-color 0.3s, color 0.3s, transform 0.3s ease;
  overflow-y: auto;
  white-space: nowrap;
}

.dark-mode #sidebar {
  background: #1e2420;
  color: #fff;
}

#tip{
  white-space: normal;
  text-align: justify;
}

.content {
  margin-left: 200px;
  padding: 30px 10px 30px 30px;
}

.cat {
  margin: 20px auto;
  max-width: 2000px;
}

.site {
  align-items: center;
  margin: 10px 1%;
  font-size: 11px;
  border: 1px solid #ccc;
  border-radius: 8px;
  background-color: #fff;
  width: 30%;
  text-align: center;
  position: relative;
  display: inline-block;
  transition: background-color 0.3s, transform 0.3s;
}

.dark-mode .site{
  background-color: #000;
}

.site:hover {
  transform: scale(1.05);
  box-shadow: 0 4px 15px rgba(0, 7, 2, 0.2);
}

.site:hover::after {
  content: attr(data-url);
  position: absolute;
  bottom: 100%;
  left: 50%;
  transform: translateX(-50%);
  background: #333;
  color: #fff;
  padding: 5px;
  border-radius: 4px;
  white-space: nowrap;
}

.site-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

#toggleSidebar {
  display: none;
}

.site h3{
  margin: 8px;
  font-size: 16px;
}

.site p{
  margin: 5px;
  font-size: 12px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

@media screen and (max-width: 768px) {
  .site {
    width: 100%;
    margin: 10px 0;
  }

  #sidebar {
    width: 160px;
    transform: translateX(-100%);
    z-index: 10;
    opacity: 0.9;
  }

  #sidebar.active {
    transform: translateX(0);
  }

  .content {
    margin-left: 0;
    padding: 30px;
  }

  .cat {
    white-space: normal;
  }

  #toggleSidebar {
    display: block;
  }
}

.buttons {
  position: fixed;
  bottom: 20px;
  right: 20px;
  display: flex;
  flex-direction: column;
  font-size: 10px;
  opacity: 0.6;
}

.button {
  margin: 5px;
  padding: 10px;
  background: #7f7f7f;
  color: white;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  transition: background 0.3s;
}

.button:hover {
  background: #4f4f4f;
}

.dark-mode .button:hover {
  background: #afafaf;
}
